@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div class="container_12">

	<!-- Description -->
	<section class="description results_wide grid_12">

		<a href='@Url.Content("~/images1/8_1.jpg")' class="main_image fancybox"><img src='@Url.Content("~/images1/background_1.jpg")' alt="" /></a>

		<div>
			<span>
				<span class="boxed"><a href="#">Singapore, Republic of Singapore</a></span>
			</span>
			<span>
				<span class="stars boxed">
					<img src='@Url.Content("~/images1/star_white_full.png")' alt="" />
					<img src='@Url.Content("~/images1/star_white_full.png")' alt="" />
					<img src='@Url.Content("~/images1/star_white_full.png")' alt="" />
					<img src='@Url.Content("~/images1/star_white_half.png")' alt="" />
					<img src='@Url.Content("~/images1/star_white_empty.png")' alt="" />
				</span>
			</span>
			<span>All inclusive</span>
			<span>Wellness</span>
			<span>Golf</span>
		</div>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida, odio vel pretium consequat, mi felis facilisis lacus, sed elementum ligula massa sed est. Mauris mauris lectus, gravida id ullamcorper a, mattis eget leo.</p>
		<p>Nunc imperdiet ipsum id risus aliquet ultrices porttitor nisl suscipit. <strong>Fusce at turpis</strong> eros, eu aliquam enim. Sed lobortis faucibus lacus, eget consectetur metus tempus eu. Nam id ullamcorper diam. In vel orci a libero convallis elementum vel egestas est.</p>

	</section>

	<!-- Image gallery -->
	<section class="gallery grid_12">
		
		<!-- Slider navigation -->
		<nav class="slider_nav">
			<a href="#" class="left">&nbsp;</a>
			<a href="#" class="right">&nbsp;</a>
		</nav>

		<!-- Slider -->
		<div class="slider_wrapper">

			<!-- Slider content -->
			<div class="slider_content">
				<a href='@Url.Content("~/images1/7.jpg")'>
					<img src='@Url.Content("~/images1/7.jpg")' alt="" />
				</a>
				<a href='@Url.Content("~/images1/8.jpg")'>
					<img src='@Url.Content("~/images1/8.jpg")' alt="" />
				</a>
				<a href='@Url.Content("~/images1/9.jpg")'>
					<img src='@Url.Content("~/images1/9.jpg")' alt="" />
				</a>
				<a href='@Url.Content("~/images1/12.jpg")'>
					<img src='@Url.Content("~/images1/12.jpg")' alt="" />
				</a>
				<a href='@Url.Content("~/images1/13.jpg")'>
					<img src='@Url.Content("~/images1/13.jpg")' alt="" />
				</a>
				<a href='@Url.Content("~/images1/14.jpg")'>
					<img src='@Url.Content("~/images1/14.jpg")' alt="" />
				</a>
				<a href='@Url.Content("~/images1/9.jpg")'>
					<img src='@Url.Content("~/images1/9.jpg")' alt="" />
				</a>
				<a href='@Url.Content("~/images1/12.jpg")'>
					<img src='@Url.Content("~/images1/12.jpg")' alt="" />
				</a>
			</div>

		</div>

	</section>

	<div class="clearfix"></div>
	<hr class="dashed grid_12" />

	<!-- Simple text -->
	<section class="text padded_right grid_8">
		<h3 class="text_big">Vestibulum placerat rhoncus massa</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus placerat risus, ac vulputate enim facilisis eu. In sodales lacinia elit, ut rhoncus risus consequat sit amet. Suspendisse potenti. Nam imperdiet lacinia aliquet. Donec odio risus, dignissim id placerat et, molestie sed ligula.</p>
		<p>Vestibulum placerat rhoncus massa, vel viverra ligula placerat sit amet. Aenean nibh sem, placerat ac laoreet ac, ullamcorper in est. Nulla facilisi. Suspendisse potenti. Maecenas mollis dui id lacus semper sit amet accumsan augue rhoncus. Ut sed felis eget mi placerat accumsan ut vel risus.</p>
		<p>Phasellus aliquam sodales pharetra. Donec ornare felis quis quam volutpat ut venenatis dui scelerisque. Quisque feugiat lacus vel odio pulvinar vel sagittis nisl gravida.</p>
	</section>

	<!-- Video -->
	<section class="video grid_4">
		<iframe src="http://player.vimeo.com/video/27246366?color=ffffff"></iframe>
	</section>

	<div class="clearfix"></div>
	<hr class="dashed grid_12" />
	
	<!-- Image slider -->
	<section class="image_slider grid_4">

		<!-- Navigation -->
		<nav class="slider_nav">
			<a href="#" class="left">&nbsp;</a>
			<a href="#" class="right">&nbsp;</a>
		</nav>

		<!-- Content -->
		<div class="slides">
			<a href='@Url.Content("~/images1/9_1.jpg")'>
				<img src='@Url.Content("~/images1/9_5.jpg")' alt="" />
			</a>
			<a href='@Url.Content("~/images1/10_1.jpg")'>
				<img src='@Url.Content("~/images1/10_4.jpg")' alt="" />
			</a>
			<a href='@Url.Content("~/images1/7.jpg")'>
				<img src='@Url.Content("~/images1/7_3.jpg")' alt="" />
			</a>
		</div>

	</section>

	<!-- Simple text -->
	<section class="text padded_left grid_8">
		<h3 class="text_big">Nam imperdiet lacinia</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus placerat risus, ac vulputate enim facilisis eu. In sodales lacinia elit, ut rhoncus risus consequat sit amet. Suspendisse potenti. Nam imperdiet lacinia aliquet. Donec odio risus, dignissim id placerat et, molestie sed ligula.</p>
		<p>Vestibulum placerat rhoncus massa, vel viverra ligula placerat sit amet. Aenean nibh sem, placerat ac laoreet ac, ullamcorper in est. Nulla facilisi. Suspendisse potenti. Maecenas mollis dui id lacus semper sit amet accumsan augue rhoncus. Ut sed felis eget mi placerat accumsan ut vel risus.</p>
		<p>Phasellus aliquam sodales pharetra. Donec ornare felis quis quam volutpat ut venenatis dui scelerisque.</p>
	</section>

	<div class="clearfix"></div>
	<hr class="dashed grid_12" />

	<!-- Reservation form -->
	<section class="search_box sidebar grid_4">

		<h2>
			<span data-form="find_hotel">Make a reservation</span>
		</h2>

		<!-- Find a hotel form -->
		<form action="#" data-form="find_hotel" class="black">

			<div class="half">
				<label>Check in</label>
				<input type="text" name="check_in" class="date" value="11/23/2011" />
			</div>

			<div class="half last">
				<label>Check out</label>
				<input type="text" name="check_out" class="date" value="11/23/2011" />
			</div>

			<div class="half">
				<label>Guests</label>
				<input type="text" name="guests" value="2" />		
			</div>

			<div class="half last">
				<label>Rooms</label>
				<input type="text" name="rooms" value="1" />		
			</div>

			<input type="submit" value="Search">

		</form>

	</section>

	<!-- Map -->
	<section class="map grid_4">
		<script>
			$(function() {
				markers = "La Tour Eiffel, Paris"; // Set the address for marker
				$("a#map").attr("href", "http://maps.google.com/maps?q=" + escape(markers)).html("<img />");
				$("a#map img").attr("src", "http://maps.google.com/maps/api/staticmap?markers=" + escape(markers) + "&size=300x250&sensor=false");
			});
		</script>
		<a href="#" id="map"></a>
	</section>

	<!-- Similar hotels -->
	<section class="similar_hotels grid_4">
		
		<h2 class="section_heading">Similar hotels</h2>
		<ul>
			<li>
				<a href="#" class="thumb"><img src='@Url.Content("~/images1/8_2.jpg")' alt="" /></a>
				<h3><a href="#">Marina Bay Sands</a></h3>
				<span class="stars">
					<img src='@Url.Content("~/images1/star_full.png")' alt="" />
					<img src='@Url.Content("~/images1/star_full.png")' alt="" />
					<img src='@Url.Content("~/images1/star_full.png")' alt="" />
					<img src='@Url.Content("~/images1/star_half.png")' alt="" />
					<img src='@Url.Content("~/images1/star_empty.png")' alt="" />

				</span>
				<div>
					<span><a href="#">Malorca</a></span>
					<span><strong>1 899 €</strong> / 10 nights</span>
				</div>
			</li>
			<li>
				<a href="#" class="thumb"><img src='@Url.Content("~/images1/8_2.jpg")' alt="" /></a>
				<h3><a href="#">Marina Bay Sands</a></h3>
				<span class="stars">
					<img src='@Url.Content("~/images1/star_full.png")' alt="" />
					<img src='@Url.Content("~/images1/star_full.png")' alt="" />
					<img src='@Url.Content("~/images1/star_full.png")' alt="" />
					<img src='@Url.Content("~/images1/star_half.png")' alt="" />
					<img src='@Url.Content("~/images1/star_empty.png")' alt="" />
				</span>
				<div>
					<span><a href="#">Malorca</a></span>
					<span><strong>2 399 €</strong> / 15 nights</span>
				</div>
			</li>
			<li>
				<a href="#" class="thumb"><img src='@Url.Content("~/images1/8_2.jpg")' alt="" /></a>
				<h3><a href="#">Marina Bay Sands</a></h3>
				<span class="stars">
					<img src='@Url.Content("~/images1/star_full.png")' alt="" />
					<img src='@Url.Content("~/images1/star_full.png")' alt="" />
					<img src='@Url.Content("~/images1/star_full.png")' alt="" />
					<img src='@Url.Content("~/images1/star_half.png")' alt="" />
					<img src='@Url.Content("~/images1/star_empty.png")' alt="" />
				</span>
				<div>
					<span><a href="#">Malorca</a></span>
					<span><strong>2 899 €</strong> / 19 nights</span>
				</div>
			</li>
		</ul>
		
	</section>

	<div class="clearfix"></div>
	<hr class="dashed grid_12" />

	<!-- Simple text -->
	<section class="text grid_4">
		<h3>Curabitur rutrum</h3>
		<p>Curabitur rutrum lacinia dui vitae tempus. Etiam porttitor, metus id rutrum placerat, quam arcu lobortis magna, et ornare leo massa at massa. Aliquam tempor iaculis dui at pellentesque. Pellentesque accumsan consectetur dolor sed facilisis. Etiam sed purus sem, quis accumsan nunc.</p>
	</section>

	<!-- Simple text -->
	<section class="text grid_4">
		<h3>Sed vitae mauris</h3>
		<p>Sed vitae mauris vitae elit porta rhoncus at eget augue. Pellentesque eu ante eu ante mollis eleifend. Praesent a eros elit, vitae dapibus sem. Morbi scelerisque nulla at lorem egestas fringilla. Proin sit amet lectus ac risus sagittis auctor. Nulla laoreet lobortis pulvinar.</p>
	</section>

	<!-- Simple text -->
	<section class="text grid_4">
		<h3>Sed vitae mauris</h3>
		<p>Sed vitae mauris vitae elit porta rhoncus at eget augue. Pellentesque eu ante eu ante mollis eleifend. Praesent a eros elit, vitae dapibus sem. Morbi scelerisque nulla at lorem egestas fringilla. Proin sit amet lectus ac risus sagittis auctor. Nulla laoreet lobortis pulvinar.</p>
	</section>
	
</div> 

