@model HotelAdmin.Models.UserPackage_Model

@{
    ViewBag.Title = "UserPackage";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}

<h2>UserPackage</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

<div class="container_12">

	<!-- Filter -->
	<section class="grid_8">

		<div action="#" class="grey">

			<div class="half">
				
                    @Html.Label("Hotel ID")	
            <br/>
              
                  @Html.DropDownList("HotelID",(IEnumerable<SelectListItem>)ViewBag.hotel,"--Select--")
                 @Html.ValidationMessageFor(model => model.HotelID)
			</div>
            <div class="half">
				  @Html.Label("Package ID")	<br/>
                @Html.DropDownList("PackageID",(IEnumerable<SelectListItem>)ViewBag.package,"--Select--")
                 @Html.ValidationMessageFor(model => model.PackageID)
			</div>
            	<div class="half">
				
                    @Html.Label("User ID")	 <br/>
          
              
                  @Html.DropDownList("UserID",(IEnumerable<SelectListItem>)ViewBag.user,"--Select--", new { @class="form-control"})
                 @Html.ValidationMessageFor(model => model.UserID)
			</div>
             <div class="half">
				 @Html.Label("Amount")	
				  @Html.TextBoxFor(model => model.Amount)
                 @Html.ValidationMessageFor(model => model.Amount)
			</div>
            <div class="half">
				 @Html.Label("Date")	
				  @Html.TextBoxFor(model => model.Date)
                 @Html.ValidationMessageFor(model => model.Date)
			</div>
		<div class="clearfix"></div>

			<input type="submit" value="Submit" class="auto_width" />

		</div>

	</section>
    </div>
    }