@model HotelAdmin.Models.SubCategory_model

@{
    ViewBag.Title = "SubCategory";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    
<h2>SubCategory</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

   
        <div class="panel">
                        <header class="panel-heading">
                            SubCategory
                        </header>
                        <div class="panel-body">
                            <div class=" form">
                                <div class="cmxform form-horizontal adminex-form" id="commentForm">
                                    <div class="form-group ">
                                       
                                          @Html.Label("CategoryName", new { @class="control-label col-lg-2"})
                                        <div class="col-lg-10">
                                             @Html.DropDownList("CategoryID",(IEnumerable<SelectListItem>)ViewBag.cat,"--Select--", new { @class="form-control"})

                                               @Html.ValidationMessageFor(model => model.CategoryID)
  
                                           
                                        </div>
                                    </div>
									<div class="form-group ">
                                       
                                         @Html.LabelFor(model => model.SubCategoryName, new { @class="control-label col-lg-2"})
                                        <div class="col-lg-10">
                                          
                                            @Html.TextBoxFor(model => model.SubCategoryName, new { @class="form-control"})
                                               @Html.ValidationMessageFor(model => model.SubCategoryName)
  
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                         @Html.LabelFor(model => model.SubCategoryDescription, new { @class="control-label col-lg-2"})
                                        <div class="col-lg-10">
                                          
                                            @Html.TextAreaFor(model => model.SubCategoryDescription, new { @class="form-control "})
                                             @Html.ValidationMessageFor(model => model.SubCategoryDescription)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button class="btn btn-primary" type="submit">Save</button>
                                            <button class="btn btn-default" type="button">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
        
       }


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

 