@model HotelAdmin.Models.UserRegistration_model

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
          <div class="wrapper">
             <div class="row">
                <div class="col-sm-12">
                <section class="panel">
                <header class="panel-heading">
                
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                     </span>
                </header>
                <div class="panel-body">
                <div class="adv-table editable-table ">
                <div class="clearfix">
                    
                </div>
                <div class="space15"></div>
                <table class="table table-striped table-hover table-bordered" id="editable-sample">
           <legend>UserRegistration</legend>

                <tbody>
                
 <thead>
     <tr>
           <th> <div class="editor-label">
            @Html.LabelFor(model => model.UserID)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.UserID, new { disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.UserID)
        </div></th>

                    <th>  <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

                    </th>
                    <th> <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div></th>
                    <th><div class="editor-label">
            @Html.LabelFor(model => model.UserPhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserPhoneNumber)
            @Html.ValidationMessageFor(model => model.UserPhoneNumber)
        </div>
</th>
          <th><div class="editor-label">
            @Html.LabelFor(model => model.UserAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserAddress)
            @Html.ValidationMessageFor(model => model.UserAddress)
        </div></th>
                    <th> <div class="editor-label">
            @Html.LabelFor(model => model.CityID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CityID)
            @Html.ValidationMessageFor(model => model.CityID)
        </div></th>
                    @*<th>  <div class="editor-label">
            @Html.LabelFor(model => model.AreaID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AreaID)
            @Html.ValidationMessageFor(model => model.AreaID)
        </div>

                    </th>*@

         <th> <div class="editor-label">
            @Html.LabelFor(model => model.UserDOB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserDOB)
            @Html.ValidationMessageFor(model => model.UserDOB)
        </div></th>

         <th> <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gender)
            @Html.ValidationMessageFor(model => model.Gender)
        </div></th>

         <th><div class="editor-label">
            @Html.LabelFor(model => model.UserOccupation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserOccupation)
            @Html.ValidationMessageFor(model => model.UserOccupation)
        </div></th>

         <th>  <div class="editor-label">
            @Html.LabelFor(model => model.MaritialStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaritialStatus)
            @Html.ValidationMessageFor(model => model.MaritialStatus)
        </div></th>

         <th><div class="editor-label">
            @Html.LabelFor(model => model.EmailID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailID)
            @Html.ValidationMessageFor(model => model.EmailID)
        </div></th>
                </tr>
        </thead>
        <p>
            <input type="submit" value="Save" />
        </p>
                     </tbody>
                </table>
                </div>
                </div>
                </section>
                </div>
                </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


