@model IEnumerable<HotelAdmin.DBML.HotelEventService>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage5.cshtml";
}

<h2>Hotel Event Service</h2>

<p>
    @Html.ActionLink("Create New", "HotelEventService")
</p>
<div class="wrapper">
        <div class="row">
        <div class="col-sm-12">
        <section class="panel">
        <header class="panel-heading">
            List of Hotel Event Services
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
        </header>
        <div class="panel-body">
        <div class="adv-table">
        <table  class="display table table-bordered table-striped" id="dynamic-table">
    <thead>

    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventServiceID }) |
     
            @Html.ActionLink("Delete", "Delete", new { id=item.EventServiceID })
        </td>
    </tr>
}

</tbody>
        <tfoot>
       
        </tfoot>
        </table>
        </div>
        </div>
        </section>
        </div>
        </div>
